body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background: green;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.navbar .logo {
    padding-right: 3%;
    padding-left: 3%;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: right;
    background: black;
    margin: 0;
}

.navbar li {
    padding: 1.5%;
}

.search-bar {
    border-bottom: 2px solid #000;
    padding: 1%;
    display: flex;
    justify-content: space-around;
}


.panel {
    width: 24.5%;
}

@media only screen and (max-width: 768px) {
    .panel {
        width: 49.5%;
    }
}

.panel .wrapper {
    border: 3px solid black;
    padding: 1%;
}

.panel img {
    width: 100%;
}

.flex-container {
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1ch;
}

